@keyframes bear-move-right{
  0% {
    transform: translateX(0px) translateY(0px);
    }
  25% {
    transform: translateX(37.5px) translateY(-20px);
  }
  50% {
    transform: translateX(75px) translateY(0px);
  }
  75% {
    transform: translateX(112.5px) translateY(-20px);
  }
  100%{
    transform: translateX(150px) translateY(0px);
  }
}

@keyframes bear-move-left{
  0% {
    transform: translateX(0px) translateY(0px);
  
  }
  25% {
    transform: translateX(-37.5px) translateY(-10px);
  }
  50% {
    transform: translateX(-75px) translateY(0px);
  }
  75% {
    transform: translateX(-112.5px) translateY(-10px);
  }
  100%{
    transform: translateX(-150px) translateY(0px);
  }
}

@keyframes bear-move-down{
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(37.5px);
  }
  35% {
    transform: translateY(36.5px);
  }
  50% {
    transform: translateY(75px);
  }
  60% {
    transform: translateY(65px);
  }
  75% {
    transform: translateY(112.5px);
  }
  85% {
    transform: translateY(102.5px);
  }
  100%{
    transform: translateY(150px);
  }
}

@keyframes bear-move-up{
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-37.5px);
  }
  35% {
    transform: translateY(-27.5px);
  }
  50% {
    transform: translateY(-75px);
  }
  60% {
    transform: translateY(-65px);
  }
  75% {
    transform: translateY(-112.5px);
  }
  85% {
    transform: translateY(-102.5px);
  }
  100%{
    transform: translateY(-150px);
  }
}

@keyframes points-gained {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes object-move-right {
  0% {
    transform: translateX(0px);
    opacity: 1;
    }
  100%{
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes object-move-left {
  0% {
    transform: translateX(0px);
    opacity: 1;
    }
  100%{
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes object-move-down {
  0% {
    transform: translateY(0px);
    opacity: 1;
    }
  100%{
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes object-move-up {
  0% {
    transform: translateY(0px);
    opacity: 1;
    }
  100%{
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes info-show {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1157px);
  }
}

@keyframes info-hide {
  0% {
    transform: translateY(1157px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width:1000px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu {
    display: flex;
    margin-top: 0;
  }
   
  .upper-menu {
    margin-bottom: 20px;
  }

  .points {
    width: 450px;
    height: 80px;
  }

  .current-item {
    width: 450px;
    height: 80px;
  }

  .current-item__text {
    font-size: 22px;
    line-height: 80px;
  }


  .points-counter {
    font-size: 30px;
    line-height: 80px;
  }

  .current-item-image {
    width: 80px;
    height: 80px;
  }
  

}

@media (min-width:1001px) {
  .menu {
    padding-top: 350px;
  }

  .upper-menu {
    justify-content: space-evenly;
  }

  .points {
    width: 300px;
    height: 50px;
  }

  .current-item {
    width: 300px;
    height: 50px;
  }

  .current-item__text {
    font-size: 20px;
    line-height: 50px;
  }

  .points-counter {
    font-size: 30px;
    line-height: 50px;
  }

  .current-item-image {
    width: 50px;
    height: 50px;
  }


}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background-image: url(images/BG.png);
}

.upper-menu {
  display:flex;
  flex-direction: row;
}

.points {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.points-counter {
  margin-bottom: 5px;
  color: #fff7b3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.menu {
}

button {
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  background: linear-gradient(to top, #c7641e 0%, #c7641e 50%, #eed655 100%);
  border: 1px solid #eed655;
  border-radius: 10px;
  color: #fff7b3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button:hover {
  background: linear-gradient(to top, #e68643 0%, #e68643 50%, #eed655 100%);
}

button:focus {
  outline: none;
}

button:active {
  background: #9e4f18;
}


.container {
  border: 2px solid black;
  width: 900px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 150px;
  grid-auto-columns: 150px;
  background-image: url(images/BG.png)
}

.game-main {
  position: relative;
}

.cell {
  position: relative;
  background-image: none;
}

.cell-active{
  position: relative;
}

.cell-active:hover {
  border: 5px solid black;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  background-size: 150px 150px;
  background-position: center;

}

img {
  height: 150px;
  width:150px;
  padding: 0;
  margin: 0;
}

.current-item {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.current-item__text {
  color: #fff7b3;
  font-family: Arial, Helvetica, sans-serif;

}


li {
  margin-bottom: 10px;
  font-size: 20px;
}
